html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    background-color: rgb(241, 245, 237);
}
.container {
    width: 100%;
    max-width: 1520px;
    margin: auto;
}
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_cart {
    position: relative;
    display: inline-block;
}
.cart_icon img {
    padding: 15px 21px;
    background: rgba(112, 133, 113, 0.2);
    border-radius: 8px;
}
.cart_icon img:hover {
    background-color: rgba(112, 133, 113, 0.5);
    transition: 0.8s;
}
.cart_count {
    position: absolute;
    background-color: #708571;
    color: #ffffff;
    border-radius: 6px;
    padding: 3px 6px;
    right: 4px;
    bottom: 45px;
    font-size: 12px;
    font-weight: 500;
}
.header_logo img{
    margin: auto;
    width: 115px;
    height: 50px;
}

/* header end */

/* main page */
/* banner */
.main {
    background-image: url("../assets/img/main.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.content_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title_main {
    font-size: 76px;
    font-weight: 700;
    color: #708571;
    width: 780px;
}
.subtitle_button {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
}
.subtitle_button h3 {
    font-size: 20px;
    color: #2a2a2f;
    width: 380px;
}
.button_style {
    padding: 17px 47px;
    background-color: #708571;
    border-radius: 8px;
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    text-decoration: none;
}
.button_style:hover {
    background-color: #d3ded4;
    color: #708571;
    transition: 0.5s;
}
/* banner end*/
/* popular products */
.popular_products {
    padding-top: 96px;
    padding-bottom: 96px;
    box-sizing: border-box;
}
.headtitle_style {
    color: #4a5743;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 96px;
}
.content_popular-products {
    display: flex;
    flex-direction: row;
    column-gap: 38px;
}
.popular_product_item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 420px;
    width: 300px;
    border-radius: 18px;
}

.popular_product_item_image {
    height: 420px;
    width: 300px;
    border-radius: 18px;
    transition: 1s;
    display: block;
}
.popular_product_item_image:hover {
    transform: scale(1.2);
}
.popular_product_item_text {
    color: #fff;
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-weight: 500;
    font-size: 26px;
}
.name_item {
    margin-bottom: 12px;
}
/* popular products end*/

/* catalog category */
.catalog_category {
    padding-top: 96px;
    padding-bottom: 96px;
    box-sizing: border-box;
}
.content_catalog-category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 62px;
    padding: 0;
}
.content_catalog-category a {
    text-decoration: none;
}
.item {
    height: 226px;
    width: 540px;
    border-radius: 18px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 36px;
    filter: brightness(100%);
}

.item:hover {
    filter: brightness(95%);
    transition: all 0.3s ease 0s;
}
.title {
    color: #708571;
    font-size: 36px;
    font-weight: 600;
}

.item:nth-child(6n + 2),
.item:nth-child(6n + 4) {
    width: 360px;
}

/* catalog category end */

/* footer */
.footer {
    background: rgba(112, 133, 113, 0.7);
    padding-top: 96px;
    padding-bottom: 96px;
    box-sizing: border-box;
}
.footer_logo img{
    width: 160px;
    height: 60px;
}
.content_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.ask_questions {
    margin-top: 42px;
}
.ask_questions p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 28px;
}
.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
}
.nav-list {
    display: flex;
    flex-direction: column;

    row-gap: 12px;
}
.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.nav-link:nth-child(1) {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
}
.nav-link:hover {
    color: #4a5743;
}
/* footer end*/

/* main page end */

/* sign_up and forms */

.form_sign_in {
    background-image: url("../assets/img/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.content_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 90px;
    box-sizing: border-box;
}
.title_form {
    text-align: center;
    font-size: 36px;
    color: #708571;
    font-weight: 700;
    width: 40%;
}
.form_style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
    row-gap: 28px;
}
.input_label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input_label .label_style {
    font-size: 16px;
    font-weight: 500;
    color: #4a5743;
    margin-bottom: 10px;
}
.input_style {
    padding: 17px;
    width: 350px;
    background-color: #d3ded4;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #4a5743;
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}
.input_style::placeholder {
    color: #828284;
    font-size: 18px;
    font-weight: 500;
}
.form_button_style {
    padding: 17px 47px;
    background-color: #708571;
    border-radius: 8px;
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    margin-top: 10px;
}
.question_form {
    color: #2a2a2f;
    font-weight: 400;
    margin-top: 16px;
}
.question_form a {
    color: #708571;
    font-weight: 500;
}
.description_form {
    color: #2a2a2f;
    font-weight: 400;
    margin-top: 16px;
    width: 380px;
    text-align: center;
}
.input_style_image {
    display: none;
}
.visible_input {
    padding: 17px;
    width: 350px;
    background-color: #d3ded4;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #828284;
    font-size: 16px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}
.option_style {
    border: none;
    outline: none;
    margin-top: 14px;
}
.select_style {
    padding: 17px;
    width: 384px;
    background-color: #d3ded4;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #4a5743;
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}
.input_group {
    display: flex;
    flex-direction: row;

    justify-content: center;
    column-gap: 12px;
}
.input_style_group {
    padding: 17px;
    width: 53px;
    background-color: #d3ded4;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #4a5743;
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}
.caloric_value_input {
    font-size: 18px;
    font-weight: 500;
    color: #4a5743;
    text-align: left;
    margin-bottom: 28px;
}
.add_step_link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Fira Sans", sans-serif;
    color: #4a5743;
    font-size: 16px;
    font-weight: 500;
    margin-top: 14px;
    column-gap: 8px;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
/* end forms */

/* catalog */

.catalog_selected_category {
    padding-top: 180px;
    padding-bottom: 96px;
    box-sizing: border-box;
}
.header_catalog_selected_category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headtitle_style_search {
    color: #4a5743;
    font-size: 48px;
    font-weight: 700;
}
.form_search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3ded4;
    padding: 4px 6px;
    border-radius: 8px;
}
.search_button {
    background-color: #d3ded4;
    border: none;
    outline: none;
}
.content_catalog_selected {
    display: flex;
    justify-content: space-between;
    column-gap: 96px;
    margin-top: 96px;
}
.category_list {
    display: flex;
    row-gap: 14px;
    flex-direction: column;
}
.category_list_item {
    text-decoration: none;
    color: #708571;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 16px;
    width: 280px;
}
.category_list_item.active {
    background-color: #d3ded4;
    border-radius: 8px;
}
.category_list_item:hover {
    background-color: #d3ded4;
    border-radius: 8px;
}
.catalog_products_list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    align-self: self-start;
    gap: 38px;
}
.product_item a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product_item {
    padding: 24px 22px;
    background-color: #d3ded4;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.wrapper_product_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 14px;
}
.name_product {
    color: #4a5743;
    font-size: 24px;
    font-weight: 600;
    width: 160px;
}
.weight_product {
    color: #4a5743;
    font-size: 20px;
    font-weight: 500;
}
.caloric_value_product_item {
    color: #4a5743;
    font-size: 14px;
    font-weight: 500;
}
.open_button {
    text-decoration: none;
    color: #4a5743;
    font-size: 14px;
    font-weight: 500;
}
.button_product_item {
    text-decoration: none;
    color: #ffffff;
    border-radius: 8px;
    background-color: #708571;
    padding: 18px 70px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.button_cart_add {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    background-color: #708571;
    border: none;
    outline: none;
    cursor: pointer;
}
.product_item_image {
    width: 194px;
    height: 194px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catalog-empty-wrapper {
    width: 100%;
}

.catalog-empty-text {
    padding: 15px;
    background-color: #d3ded4;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    line-height: 58px;
    color: #4a5743;
}

/* catalog end*/

/* one_product */
.one_product {
    padding-top: 180px;
    padding-bottom: 96px;
    box-sizing: border-box;
}
.content_one_product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.caloric_value_one_product {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.caloric_value_name {
    color: #4a5743;
    font-size: 26px;
    font-weight: 600;
}
.caloric_value_data_list {
    display: flex;

    column-gap: 54px;
}
.caloric_value_data_item {
    background-color: #d3ded4;
    padding: 26px 32px;
    border-radius: 18px;
}
.caloric_value_number_data {
    font-size: 22px;
    color: #2a2a2f;
    font-weight: 600;
    margin-bottom: 12px;
}
.caloric_value_name_data {
    font-size: 22px;
    color: #4a5743;
    font-weight: 600;
}
.slider_wrapper {
    background-color: #d3ded4;
    border-radius: 32px;
}
.slider_wrapper img {
    width: 525px;
    height: 565px;
    padding: 28px 20px;
}
.specifications_one_product_list {
    display: flex;
    flex-direction: column;
    row-gap: 54px;
    margin-top: 54px;
}
.specifications_item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.specifications_item_name {
    font-size: 22px;
    color: #708571;
    font-weight: 600;
}
.specifications_item_description {
    color: #2a2a2f;
    font-size: 20px;
    font-weight: 400;
    width: 700px;
}
.hide_show_button_one_product {
    color: #4a5743;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-size: 22px;
    font-weight: 600;

    margin-top: 20px;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}
.one_product_item_price {
    font-size: 32px;
    color: #4a5743;
    font-weight: 600;
    margin-top: 54px;
    margin-bottom: 38px;
}
.description_one_product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* one_product end */

/* user profile */
.user_profile {
    padding-top: 180px;
    padding-bottom: 90px;
    box-sizing: border-box;
}
.button_log_out {
    background-color: #d3ded4;
    color: #4a5743;
    border-radius: 8px;
    font-weight: 500;
    font-size: 24px;
    padding: 18px 52px;
    text-decoration: none;
}
.content_user-profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 54px;
}
.user-profile_information {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}
.title_user_style {
    font-size: 36px;
    font-weight: 600;
    color: #4a5743;
}
.user-profile_information_list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.user_profile_item {
    padding: 10px 16px;
    background-color: #d3ded4;
    border-radius: 8px;
    width: 460px;
}
.field_name {
    font-size: 16px;
    font-weight: 500;
    color: #828284;
}
.user_data {
    font-size: 18px;
    font-weight: 500;
    color: #4a5743;
}
.delete_button {
    font-size: 18px;
    color: #828284;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.user_profile_orders_list {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}
.user_profile_order_item {
    padding: 24px;
    background-color: #d3ded4;
    border-radius: 18px;
    width: 720px;
}
.order_information_user div {
    display: flex;
    column-gap: 8px;
}
.order_information_user {
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.inf {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.order_text_style {
    font-size: 18px;
    color: #828284;
    font-weight: 500;
}
.status_value_user {
    padding: 12px 38px;
    background-color: #708571;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 18px;
}
.open_button_user {
    display: flex;
    margin-top: 38px;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #4a5743;
}
/* user profile end */

/* admin  */
.content_admin {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.admin_tabs_list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.tab_item {
    padding: 18px 55px;
    background-color: #d3ded4;
    color: #4a5743;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select_style_admin {
    padding: 14px;
    width: 240px;
    background-color: #708571;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    text-decoration: none;
}
.header_admin_order_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
}
.content_admin_order_item {
    padding: 24px 38px;
    background-color: #d3ded4;
    border-radius: 18px;
    width: 900px;
}
.user_name_order_item {
    font-size: 18px;
    color: #4a5743;
    font-weight: 500;
}
.admin_order_item {
    margin-top: 38px;
}

.tab_item.active {
    color: #ffffff;
    background-color: #708571;
    text-decoration: none;
}
.input_style_admin {
    padding: 17px;
    width: 240px;
    background-color: #d3ded4;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #4a5743;
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}
.name_order_item {
    font-size: 22px;
    font-weight: 600;
    color: #2a2a2f;
    text-align: left;
}
.content_admin_user_item {
    background-color: #d3ded4;
    border-radius: 8px;
    padding: 8px 14px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data_user_information {
    color: #4a5743;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.header_admin_user_item {
    display: flex;
    justify-content: space-between;
    padding: 14px 14px;
    margin-top: 54px;
}
.data_user_information:nth-child(1) {
    width: 30px;
}
.data_user_information:nth-child(2) {
    width: 80px;
}
.data_user_information:nth-child(3) {
    width: 220px;
}
.data_user_information:nth-child(4) {
    width: 140px;
}
.name_order_item:nth-child(1) {
    width: 30px;
}
.name_order_item:nth-child(2) {
    width: 80px;
}
.name_order_item:nth-child(3) {
    width: 220px;
}
.name_order_item:nth-child(4) {
    width: 140px;
}
.name_order_item:nth-child(5) {
    width: 180px;
}
.admin_order_list {
    display: flex;
    flex-direction: column;
    column-gap: 14px;
}
.admin_user_item {
    margin-bottom: 24px;
}
.data_category_information {
    color: #4a5743;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    display: flex;

    align-items: flex-end;

    background-color: #d3ded4;
    border: none;
    outline: none;
    font-family: "Fira Sans", sans-serif;
}
.data_category_information:nth-child(3) {
    width: 220px;
}
.data_category_information:nth-child(2) {
    width: 280px;
}

.name_category_item {
    font-size: 22px;
    font-weight: 600;
    color: #2a2a2f;
    text-align: left;
}
.name_category_item:nth-child(1) {
    width: 120px;
}
.name_category_item:nth-child(2) {
    width: 280px;
}
.name_category_item:nth-child(3) {
    width: 220px;
}
.name_category_item:nth-child(4) {
    width: 260px;
}
.category_list_admin {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.edit_buttons {
    padding: 8px 11px;
    background-color: #708571;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    text-decoration: none;
}
.buttons_admin_delete_edit a {
    text-decoration: none;
}
.buttons_admin_delete_edit {
    width: 260px;
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}
.name_product_item {
    font-size: 22px;
    font-weight: 600;
    color: #2a2a2f;
    text-align: left;
}
.data_product_information {
    color: #4a5743;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.name_product_item:nth-child(1) {
    width: 30px;
}
.data_product_information:nth-child(1) {
    width: 30px;
}

.name_product_item:nth-child(2) {
    width: 160px;
}
.image_product_admin {
    width: 160px;
}
.image_product_admin img {
    width: 60px;
    height: 65px;
    padding: 4px;
    background-color: #708571;
    border-radius: 8px;
}
.name_product_item:nth-child(3) {
    width: 165px;
}
.data_product_information:nth-child(3) {
    width: 165px;
}
.name_product_item:nth-child(4) {
    width: 65px;
}
.data_product_information:nth-child(4) {
    width: 65px;
}
.name_product_item:nth-child(5) {
    width: 65px;
}
.data_product_information:nth-child(5) {
    width: 65px;
}
.name_product_item:nth-child(6) {
    width: 260px;
}
.buttons_wrapper_moderator {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    margin-top: 24px;
}
.button_moderator_recipes_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 14px;
    background-color: #708571;
    border-radius: 8px;
    padding: 14px 21px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.button_moderator_recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 14px;
    background-color: #708571;
    border-radius: 8px;
    padding: 14px 21px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.change_status_order_admin {
    padding: 14px 38px;
    background-color: #708571;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
}
/* admin end */

/* push notifications */

#notification-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    z-index: 9999;

    width: 500px;
    /* height: 800px; */
}

.push-notification {
    background-color: #708571;
    color: #2a2a2f;
    border-radius: 8px;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(-100%);

    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;

    max-width: 430px;
    width: 100%;
}

.push-notification span {
    color: #2a2a2f;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    max-width: 100%;
}

.push-notification.show {
    opacity: 1;
    transform: translateY(0);
}

.push-notification.hide {
    opacity: 0;
    transform: translateY(-100%);
}

/* push notifications end */

/* drawer */

.header_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 40px;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.header_menu_item {
    width: 100%;
    height: 3px;
    border-radius: 8px;
    background-color: #4a5743;
}

#drawer {
    position: fixed;
    top: 0;
    left: 0;

    background-color: #708571;
    height: 100vh;
    z-index: 999;
}

.drawer_wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    height: 100%;
}

.drawer_wrapper_top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
}

.drawer_close_wrapper {
    align-self: flex-end;
    cursor: pointer;
}

.drawer_title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;

    white-space: nowrap;
}

.part-of-the-day {
    white-space: nowrap;
}

.drawer_menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 14px;

    width: 100%;
}

.drawer_menu_item {
    box-sizing: border-box;
    width: 100%;
    padding: 19px 20px;

    display: flex;
    align-items: center;
    gap: 14px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;

    transition: all 0.3s ease-in-out;
}

.drawer_menu_item:hover {
    background-color: rgba(211, 222, 212, 0.5);
}

.drawer_menu_item span {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    color: #ffffff;
    white-space: nowrap;
}

.drawer_logout {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
}

.drawer_logout span {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    color: #ffffff;
}

.none {
    display: none;
}
/* drawer end */

/* cart */
.cart {
    padding-top: 180px;
    padding-bottom: 90px;
    box-sizing: border-box;
}
.delete_all_products {
    text-decoration: none;
    padding: 17px 30px;
    background-color: #d3ded4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}
.delete_all_products p {
    color: #4a5743;
    font-size: 22px;
    font-weight: 500;
}
.cart_products_list {
    width: 840px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.cart_product_item {
    display: flex;
    column-gap: 24px;
    align-items: center;
    flex-direction: row;
}

.cart-product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.image_cart_product {
    width: 90px;
    height: 90px;
    padding: 12px;
    background-color: #d3ded4;
    border-radius: 18px;
}
.cart_product_item_name {
    color: #4a5743;
    font-size: 20px;
    font-weight: 600;
}
.cart_product_item_price {
    color: #4a5743;
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
}
.changing_quantity {
    padding: 12px 24px;
    background-color: #d3ded4;
    border-radius: 8px;
    width: 130px;
    height: 35px;
}
.content_cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 96px;
    align-items: flex-start;
}
.content_cart_final_price {
    padding: 38px;
    background-color: #d3ded4;
    border-radius: 18px;
    width: 500px;
}
.final_price_title {
    font-size: 36px;
    font-weight: 600;
    color: #4a5743;
}
.cart_final_price_product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
}
.cart_final_price_product p {
    font-size: 22px;
    font-weight: 500;
    color: #2a2a2f;
}
.cart_final_price_delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.cart_final_price_delivery p {
    font-size: 22px;
    font-weight: 500;
    color: #2a2a2f;
}
.delivery_price_counter p {
    font-size: 18px;
    color: #828284;
    font-weight: 500;
    margin-top: 6px;
}
.total_price_cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 24px;
}
.total_price_cart p {
    font-size: 24px;
    font-weight: 500;
    color: #4a5743;
}
.button_cart {
    padding: 18px 120px;
    background-color: #708571;
    font-family: "Fira Sans", sans-serif;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.content_cart_final_price {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cart-empty-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cart-empty-title {
    display: flex;
    align-items: center;
    gap: 14px;
}

.cart-empty-title span {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #4a5743;
}

.cart-empty-description {
    margin-top: 24px;
    margin-bottom: 56px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    color: #2a2a2f;
}

/* cart end */

/* order */
.title_order_payment {
    font-size: 24px;
    font-weight: 600;
    color: #4a5743;
    margin-bottom: 38px;
}
.input_style_order {
    padding: 20px 14px;
    width: 520px;
    background-color: #d3ded4;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #4a5743;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 14px;
    text-decoration: none;
}
.form_style_order {
    display: flex;
    flex-direction: column;
}
.input_style_order::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #4a5743;
    font-family: "Fira Sans", sans-serif;
}
.input_style_order_address::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #4a5743;
    font-family: "Fira Sans", sans-serif;
}
.input_style_order_address {
    padding: 20px 14px;
    width: 106px;
    background-color: #d3ded4;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #4a5743;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 14px;
    text-decoration: none;
}
.select_style_order {
    padding: 20px 14px;
    width: 548px;
    background-color: #d3ded4;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #4a5743;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 14px;
    text-decoration: none;
}
/* order end */

/* recipe catalog */
.recipe {
    padding-top: 180px;
    padding-bottom: 90px;
    box-sizing: border-box;
}
.tune_filter {
    padding: 14px;
    background-color: #708571;
    border-radius: 8px;
    border: none;
    outline: none;
}
.filter_open_search {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
}
.content_recipe_list {
    margin-top: 54px;
}
.recipe_item {
    width: 280px;
    height: 460px;
    border-radius: 18px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}
.title_recipe {
    font-size: 26px;
    font-weight: 500;
    color: #ffffff;
    width: 200px;
}

.content_recipe_list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 54px;
    flex-wrap: wrap;
}
.image_recipe {
    width: 1520px;
    height: 500px;
    border-radius: 32px;
}
/* recipe catalog end */

/* recipe */
.content_recipe {
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ingredients_list_container {
    background-color: #d3ded4;
    border-radius: 18px;
    padding: 38px 24px;
    width: 420px;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}
.description_recipe_item {
    width: 800px;
    font-size: 20px;
}
.content_description_recipe {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}
.caloric_value_recipe_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recipe_steps_content {
    margin-top: 54px;
}
.recipe_step_item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.steps_counter {
    font-size: 26px;
    color: #2a2a2f;
    font-weight: 600;
}
.description_recipe_step_item {
    font-size: 20px;
    color: #2a2a2f;
}
.recipe_steps_list {
    display: grid;
    grid-template-columns: repeat(2, 700px);
    row-gap: 38px;
    column-gap: 120px;
    margin-top: 54px;
}
.recipe_item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 460px;
    width: 280px;
    border-radius: 18px;
}

.recipe_item_image {
    height: 460px;
    width: 280px;
    border-radius: 18px;
    transition: 1s;
    display: block;
    object-fit: cover;
}
.recipe_item_image:hover {
    transform: scale(1.2);
}
.content_recipe_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}
.title_recipe {
    position: absolute;
    left: 24px;
    top: 24px;
}
.button_moderator_recipes {
    position: absolute;
    left: 24px;
    bottom: 24px;
}
/* recipe end */

/* accordion */

.accordionContainer {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
}

/* accordion end */

/* adaptive */

@media (max-width: 1600px) {
    .container {
        max-width: 1300px;
    }
    .title_main {
        font-size: 66px;
        width: 680px;
    }
    .subtitle_button {
        width: 680px;
    }
    .headtitle_style {
        font-size: 42px;
    }
    .headtitle_style_search {
        font-size: 42px;
    }
    .popular_product_item_image {
        width: 280px;
        height: 360px;
    }
    .popular_product_item {
        width: 280px;
        height: 360px;
    }
    .popular_product_item_text{
        font-size: 22px;
    }
    .content_catalog-category{
        column-gap: 30px;
    }
    .item{
        width: 460px;
        height: 210px;
    }
    .item:nth-child(6n + 4){
        width: 300px;
        height: 210px;

    }
     .item:nth-child(6n + 2){
        width: 300px;
        height: 210px;
    }
    .title{
        font-size: 32px;
    }
    .recipe_item_image{
        height: 380px;
        width: 230px;
    }
    .recipe_item{
        height: 380px;
        width: 230px;
    }
    .content_recipe_list{
        column-gap: 0px;
        justify-content: space-between;
    }
    .title_recipe{
        font-size: 22px;
        width: 170px;
    }
    .button_moderator_recipes{
        font-size: 18px;
        padding: 12px 18px;
    }
    .button_moderator_recipes_2{
        padding: 12px 18px;
        font-size: 18px;
    }
    .nav-link{
        font-size: 18px;
    }
    .button_style{
        padding: 14px 35px;
    }
    .tune_filter{
        padding: 10px;
    }
    .input_style{
        width: 320px;
    }
    .name_product{
        font-size: 22px;
    }
    .catalog_products_list{
        grid-template-columns: repeat(3, 250px);
    }
    .category_list_item{
        font-size: 22px;
    }
    .category_list{
        row-gap: 10px;
    }
    .description_one_product{
        width: 650px;
    }
    .slider_wrapper img{
        width: 480px;
        height: 500px;
    }
    .content_cart_final_price{
        width: 420px;
    }
    .cart_products_list{
        width: 700px;
    }
    .button_cart{
        font-size: 20px;
        padding: 18px 100px;
    }
    .delete_all_products{
        padding: 15px 25px;
    }
    .delete_all_products p{
        font-size: 20px;
    }
    .image_recipe{
        width: 1300px;
    }
    .ingredients_list_container{
        width: 380px;
    }
    .description_recipe_item{
        width: 750px;
    }
    .recipe_steps_list{
        grid-template-columns: repeat(2, 600px);
    }
    .content_admin_user_item{
        width: 900px;
    }
    .content_admin_order_item{
        width: 850px;
    }
    .select_style{
        width: 354px;
    }
    .input_group{
        column-gap: 6px;
    }
    .input_style_group{
        width: 50px;
    }
}
@media (max-width: 1320px) {
    .container {
        max-width: 1150px;
    }
    .title_main{
        font-size: 56px;
    }
}